SAGEUM_BACK_PORT=4000
SAGEUM_FRONT_ORIGIN=http://localhost:3000
SAGEUM_AGENT_URL=http://127.0.0.1:4123
SAGEUM_BACKEND_PUBLIC_URL=http://127.0.0.1:4000
SAGEUM_BACK_DB_PATH=../data/sageum-back.sqlite
SAGEUM_BACK_DB_SYNC=true
